<!DOCTYPE html>
<html>
	<head>
{#        Register Bootstrap#}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		</head>
		<body>
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th scope="col">Date</th>
						<th scope="col">Station</th>
						<th scope="col">Time</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ date }}</td>
						<td>North Station</td>
						<td>{{ time }}</td>
					</tr>
				</tbody>
			</table>
			<div class="table-responsive-sm">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">AT</th>
							<th scope="col">Train #</th>
							<th scope="col">Destination</th>
							<th scope="col">Status</th>
						</tr>
					</thead>
					<tbody>
            {% for arrival_time in arrival_times %}
						<tr>
							<td style ="word-break:break-all;">{{ arrival_time }}</td>

                {% for train_name in train_names %}
                    {% if forloop.counter == forloop.parentloop.counter %}
							<td style ="word-break:break-all;">{{ train_name }}</td>
                    {% endif %}
                {% endfor %}


                {% for destination in destinations %}
                    {% if forloop.counter == forloop.parentloop.counter %}
							<td style ="word-break:break-all;">{{ destination }}</td>
                    {% endif %}
                {% endfor %}

                {% for status in statuses %}
                    {% if forloop.counter == forloop.parentloop.counter %}
							<td style ="word-break:break-all;">{{ status }}</td>
                    {% endif %}
                {% endfor %}

            {% endfor %}

						</tr>
					</tbody>
				</table>
			</div>
		</body>
	</html>