body {
    background: lightblue;
    font-family: "Arial, Helvetica", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}

li {
    float: left;
    display: inline;
    text-align: center;
    padding: 10px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: yellow;
}

.element {
    display: flex;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.container {
    display: flex;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px; 
}

h1:hover {
    border-style: double;
    border-color: red;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    color: green;
}