{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<header>
    <div class="nav">
        <ul>
            <li>
                <a href="/crypto">
                    Home
                </a>
            </li>
            <li>
                <a href="lucky">
                    Lucky!
                </a>
            </li>
            <li>
                <a href="trending">
                    Trending
                </a>
            </li>
        </ul>
    </div>
</header>
