{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<h1>North Station Information</h1>

<div class="datetime">
    <div class="float-child">
      <div class="day" >{{ day }}</div>
    </div>
    
    <div class="float-child">
      <div class="date">{{ date }}</div>
    </div>

    <div class="float-child">
        <div class="date"> {{ time }}</div>
    </div>
</div>

<table class="train_board">
    <thead>
        <tr style="background-color: blue;">
            <th>Time</th>
            <th>Destination</th>
            <th>Train</th>
            <th>Track</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            {% for unit in data.data %}
            <tr>
                {% for departure_time in departure_times %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <td>{{ departure_time }}</td>
                    {% endif %}
                {% endfor %}

                {% for destination in destinations %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <td>{{ destination }}</td>
                    {% endif %}
                {% endfor %}

                {% for train in trains %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <td>{{ train }}</td>
                    {% endif %}
                {% endfor %}

                {% for track in tracks %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <td>{{ track }}</td>
                    {% endif %}
                {% endfor %}

                {% for status in statuses %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                    <td>{{ status }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}    
        </tr>
    </tbody>
</table>