@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
 * {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 body {
   background: #ffffff;
   font-family: "Montserrat", sans-serif;
 }
 
 .navMenu {
   position: relative;
   top: 0;
 }
 
 .navMenu a {
   color: #000000;
   text-decoration: none;
   font-size: 1.2em;
   text-transform: uppercase;
   font-weight: 500;
   display: inline-block;
   width: 100px;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
 
 a:nth-child(1) {
	 width: 70px;
 }
 a:nth-child(2) {
	 width: 110px;
 }
 a:nth-child(3) {
	 width: 100px;
 }
 
 .navMenu a:hover {
   color: #ff00ea;
 }
 
 .navMenu .dot {
   width: 9px;
   height: 6px;
   background: #ff00ea;
   border-radius: 50%;
   opacity: 0;
   -webkit-transform: translateX(30px);
   transform: translateX(30px);
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
 
 .navMenu a:nth-child(1):hover ~ .dot {
   -webkit-transform: translateX(30px);
   transform: translateX(30px);
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   opacity: 1;
 }
 
 .navMenu a:nth-child(2):hover ~ .dot {
   -webkit-transform: translateX(125px);
   transform: translateX(125px);
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   opacity: 1;
 }
 
 .navMenu a:nth-child(3):hover ~ .dot {
   -webkit-transform: translateX(219px);
   transform: translateX(219px);
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   opacity: 1;
 }

h1 {
	text-align: left;
	margin: 40px 0 40px;
	text-align: left;
	font-size: 20px;
	color: #000000;
	font-family: "Montserrat", sans-serif;
}
 
 
 