body {
    background-color: #c1ccde;
}

h1 {
    font-family:"Lucida Console", "Courier New", monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
div {
    font-size: large;
}

.currency {
    color: green;
}

.add {
    background-color: #ffffff;
    color: black;
    border: 2px solid #555555;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    margin: 4px 2px;
    padding: 16px 32px;
    position: absolute;
    top: 23%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    cursor: pointer;
}
  
.add:hover {
    background-color: #555555;
    color: white;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}