<html>

<style type="text/css">

table
{ 
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  width: 140%;
  font-size:150%
}

table tr th, table tr td
{ background: #004662;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #EAFAFF;
  color: #47433F;
  border-top: 1px solid #FFF;
}

</style>
<head>
    <meta charset="utf-8">
    <title>timetable</title>
</head>
<body>
    <div>
        <h1>{{ cur_weekday }}</h1>
        <h1>{{ cur_date }}-{{ cur_month }}-{{ cur_year }}</h1>
        <h1>{{ cur_time }}</h1>
    </div>

    <table style="width: 100%;">
        <tr>
            <th><h2>Time</h2></th>
            <th><h2>Destination</h2></th>
            <th><h2>Train Id</h2></th>
            <th><h2>Track Id</h2></th>
            <th><h2>Status</h2></th>
        </tr>
        <tr>
            {% for train in data %}
            <tr>
                <th><h4>{{ train.time }}</h4></th>
                <th><h4>{{ train.destination }}</h4></th>
                <th><h4>{{ train.train }}</h4></th>
                <th><h4>{{ train.track }}</h4></th>
                <th><h4>{{ train.status }}</h4></th>
            </tr>
            {% endfor %}    
        </tr>
    </table>
</body>


</html>