<meta http-equiv="refresh" content="60">
<style>
#first {
    width: 49%;
    float:left;
    text-align: center;
}
#second {
    width: 49%;
    float: right;
    text-align: center;
}

table, tr, th { 
    border: 2px solid black; 
    border-collapse: collapse;
    text-align: center;
}

tr {
    background-color: rgb(105, 205, 241);
}
</style>

<body style="background-color: rgba(12, 218, 233, 0.466);">
    <div id="first">
        <h1>{{ cur_weekday }}</h1>
        <h1>Current time</h1>
    </div>
    <div id="second">
        <h1>{{ cur_date }}-{{ cur_month }}-{{ cur_year }}</h1>
        <h1>{{ cur_time }}</h1>
    </div>
    <table style="width:100%;">
        <tr style="background-color: rgb(255, 111, 231);">
            <th><h2>Time</h2></th>
            <th><h2>Destination</h2></th>
            <th><h2>Train#</h2></th>
            <th><h2>Status</h2></th>
        </tr>
        <tr>
            {% for d in trips %}
            <tr>
                {% for time in dest_times %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <th><h4>{{ time }}</h4></th>
                    {% endif %}
                {% endfor %}

                {% for direction in directions %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <th><h4>{{ direction }}</h4></th>
                    {% endif %}
                {% endfor %}
                
                {% for id in vehicle_ids %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <th><h4>{{ id }}</h4></th>
                    {% endif %}
                {% endfor %}

                {% for status in statuses %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <th><h4>{{ status }}</h4></th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}    
        </tr>
    </table>
</body>