{% include "navigation_bar.html" %}

<html>
    <center>
        <img src="https://images.ctfassets.net/6ndujxh3wgyb/4JHqblTjObqOS6ZyvnIgZR/befa6771d79f676346ef7edea9e2d02c/7th-July_crypto-post.jpg"
        width="600", height="300" style="padding-top:70px">

        <div class="element"><h1>Name: {{ currency_name }} [{{ currency_code }}]</h1></div>
        <div class="element"><h1>Price: {{ currency_price }}</h1></div>
        <div class="element"><h1>Supply: {{ currency_supply}}</h1></div>
    </center>
</html>
