body {
    background-color: #222;
}
div{
	margin: auto;
    margin-top: 2%;
	width: 60%;
	background-color: #333;
	padding: 1%;
	border: 1px solid white;
	border-radius: 10%;
	font-family: 'Press Start 2P', cursive;
}
div h1{
	font-size: 25px;
	color: #ffffff;
	text-align: center;
}

div h2 {
	padding-left: 10%;
	font-size: 20px;
	color: #ffffff;
}
table {
	padding: 20%;
	margin: auto;
	border-collapse: collapse;
	width: 90%;
	margin-bottom: 3%;
}
table td {
	padding: 15px;
}
table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}